<div class='recipe-card d-flex flex-column justify-content-around py-2 mt-2 mb-2'>
    <div class='d-flex flex-row justify-content-around align-items-baseline'>
        <div>
            <%= link_to publicrecipe.name, recipe_path(publicrecipe), class: 'recipe-title'%>
            <p class='text-secondary'>Total food Items: <%= publicrecipe.foods.count%></p> 
            <% sum = 0 %>
            <% publicrecipe.recipe_food.each do |item| %>
            <% sum += (item.food.price * item.quantity)%>
            <%end%>   
            <p class='text-secondary'>Total Price: <%= sum %></p>    
        </div>
        <p class='placeholder w-50'><%= publicrecipe.description%></p>
    </div>
    <div class='d-flex justify-content-center recipe-card-options'>
        <% if can? :destroy, publicrecipe%>
            <%= button_to recipe_path(publicrecipe.id), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, class: 'btn btn-danger' do %>                    Delete
            <% end %>
        <%end%>
        <p class='text-primary'>Recipe created By: <%= publicrecipe.user.name%></p>    
    </div>
</div>