<!DOCTYPE html>
<html>
  <head>
    <title>TastyTrek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,900;0,1000;1,300;1,500;1,1000&family=Tourney:ital,wght@0,200;0,300;0,500;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Gafata&family=Gruppo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit.fontawesome.com/7e86c8c237.css" crossorigin="anonymous">
  </head>

  <body>
    <%= render partial: 'partials/navbar'%>
    <p class="notice text-center text-white"><%= notice %></p>
    <p class="alert text-center text-white"><%= alert %></p>
    <div class='container'>
      <%= yield %>
    </div>
    <% if current_user %>
      <div class='signedin-bg'></div>
    <%end%>
  </body>
</html>
